<div class="row">
    <div class="col-lg-12">   
        <div class="form-group">
            <label for="brand-name" class="col-form-label">Username</label>
            <input type="text" class="form-control" [disabled]="true" [(ngModel)]="username">    
        </div>  
    </div>
</div>    
<div class="row">
    <div class="col-lg-12">   
        <div class="form-group">
            <label for="brand-name" class="col-form-label">Current Password</label>
            <input type="password" class="form-control" (blur)="validateCurrentPassword()" [(ngModel)]="current_password">
              
            <div id="invalid-pswd" class="alert alert-danger" *ngIf="current_password && !isValidPassword">
                <strong>Invalid Password!</strong> Please input correct password again.
            </div>
        </div>  
    </div>
</div>
<div class="row">
    <div class="col-lg-12">   
        <div class="form-group">
            <label for="brand-name" class="col-form-label">New Password</label>
            <input type="password" class="form-control" [disabled]="!isValidPassword" [(ngModel)]="new_password">    
        </div>  
    </div>
</div>  
<div class="row">
    <div class="col-lg-12">   
        <div class="form-group">
            <label for="brand-name" class="col-form-label">Confirm Password</label>
            <input type="password" class="form-control" [disabled]="!isValidPassword" [(ngModel)]="confirm_password" (blur)="validatePasswordMatch()">    
        </div>
        <div id="invalid-pswd" class="alert alert-danger" *ngIf="confirm_password && !isPasswordMatch">
            <strong>Password Mismatched!</strong> Please enter your confirm password again.
        </div>  
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary btn-ok" [disabled]="!isPasswordMatch" (click)="saveUser()">Save</button>
</div>